<h1>Listing charges</h1>

<table>
  <tr>
    <th>Stripe</th>
    <th>Object</th>
    <th>Livemode</th>
    <th>Amount</th>
    <th>Currency</th>
    <th>Disputed</th>
    <th>Fee</th>
    <th>Paid</th>
    <th>Refunded</th>
    <th>Amount refunded</th>
    <th>Description</th>
    <th>Failure message</th>
    <th>Invoice</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @charges.each do |charge| %>
  <tr>
    <td><%= charge.stripe_id %></td>
    <td><%= charge.object %></td>
    <td><%= charge.livemode %></td>
    <td><%= charge.amount %></td>
    <td><%= charge.currency %></td>
    <td><%= charge.disputed %></td>
    <td><%= charge.fee %></td>
    <td><%= charge.paid %></td>
    <td><%= charge.refunded %></td>
    <td><%= charge.amount_refunded %></td>
    <td><%= charge.description %></td>
    <td><%= charge.failure_message %></td>
    <td><%= charge.invoice %></td>
    <td><%= link_to 'Show', charge %></td>
    <td><%= link_to 'Edit', edit_charge_path(charge) %></td>
    <td><%= link_to 'Destroy', charge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Charge', new_charge_path %>
